body{
    font-family: 'Abel', sans-serif;
    background-color: #e6e6e6;
    padding: 3em;
}
.codeup_design {
    font-size: 28px;
    padding-left: 0;
}

.no_padding {
    padding: 0;
}

.lots_padding {
    padding: 1.5em;
}

.less_padding {
    padding: 0em 1.5em 1.5em 1.5em;
}
.list_padding {
    padding: .2em;
}


.center_verticle {
    padding-top: 35px;
}

.blank {
    background-color: #e6e6e6;
    height: 100px;
    width: 200px;
}

.max_width {
    max-width: 300px;
}

#codeup_design_disapear {
    display: none;
}

#new_nav_gone {
    display: none;
}

#sm-screen-multi4 {
    display: none;
}

#md-screen-multi4 {
    display: block;
}

.center {
    text-align: center;
}
#cheatcheat {
    color: #e6e6e6;
}
.right {
    text-align: right;
}

.left {
    text-align: left;
}

.zero_margin {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 5px;
    font-family: 'Anton', sans-serif;
}

.utah {
    font-family: 'Anton', sans-serif;
    text-align: center;
}
.title {
    font-family: 'Anton', sans-serif;
}

/*---List properties--------------------------------------------------------------------------------------- */

li {
    list-style: none;
    display: inline-block;
    padding: 1em;
}

ul {
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
}


.rectangle {
    border: 2px solid #f0f0f0;
}

/*--Turns the blue code up logo background to a circle---------------------------------------------------------------------------------------- */

.circle_background {
    border-radius: 50%;
}

/*--Full screen navigation---------------------------------------------------------------------------------------- */

.ipad_view {
    display: none;
}

#mobil_view {
    display: none;
}

/*----Ipad view-------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */

@media screen and (max-width:992px)  {


        #hidden { display: none; }
        #blog_contact { order: 3; }
        #services_work { order: 1; }
        #codeup_design { display: none; }
        #logo_blue { order: 2; }

        #codeup_design_disapear {
            display: block;
        }

    #sm-screen-multi4 {
        display: none;
    }

    #md-screen-multi4 {
        display: block;
    }


/*--Ipad navigation ---------------------------------------------------------------------------------------- */

    #full_screen_view {
        display: none;
    }

    .ipad_view {
       display: flex;

    }

    #mobil_view {
        display: none;
    }
    .cudesign {
        text-align: center;
        justify-content: center;
        font-size: 27px;
    }

    .center_ipad_nav{
        text-align: center;
    }
}

/*---Mobil view--------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------ */
/*------------------------------------------------------------------------------------------ */

@media screen and (max-width:760px) {

    #nav_gone {
        display: none;
    }

    #codeup_design_disapear {
        display: none;
    }

    /*#new_nav_gone {*/
    /*display: block;*/
    /*}*/
    #sm-screen-multi4 {
        display: block;
    }

    #md-screen-multi4 {
        display: none;
    }

    /*--Mobile Navigation---------------------------------------------------------------------------------------- */
    .ipad_view {
        display: none;
    }

    #mobil_view {
        display: flex;
    }

    .right {
        text-align: center;
    }

    .left {
        text-align: center;
    }

}

